.courses {
    width: 100%;
    background-color: #7971ea;
    padding-bottom: 200px;
    position: relative;

    h1 {
        padding: 50px;
        text-align: center;
        font-size: 3rem;
        color: white;
        margin-bottom: 1.8rem;
        font-weight: 900;
    }

    .wrapper {
        position: absolute;
        bottom: -220px;

        .cards {
            display: flex;
            gap: 30px;
            justify-content: space-between;

            .card {
                position: relative;
                background-color: white;
                width: 30%;
                height: 100%;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

                .image {
                    width: 100%;
                    height: 58%;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .price {
                    position: absolute;
                    background-color: #7971ea;
                    padding: 15px;
                    border-radius: 10px 0 0 10px;
                    right: 0;
                    top: 178px;
                    color: white;
                }

                .time {
                    padding: 30px 20px 30px 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    span {
                        font-size: .9rem;
                        line-height: 1.7;
                        color: gray;
                        font-weight: 300;
                    }

                    h3 {
                        font-size: 1.15rem;
                        font-weight: 500;
                        line-height: 1.2;
                        color: #7971ea;
                    }

                    p {
                        line-height: 1.7;
                        color: gray;
                        font-weight: 300;
                        font-size: 1.1rem;
                    }
                }

                .number_of_students {
                    display: flex;
                    flex-direction: row;
                    border-top: 1px solid lightgray;
                    border-bottom: 1px solid lightgray;

                    &_general {
                        padding: 10px 20px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 10px;
                        width: 75%;
                        border-right: 1px solid lightgray;

                        span {
                            font-size: .9rem;
                            line-height: 1.7;
                            color: gray;
                            font-weight: 300;
                        }
                    }

                    &_comments {
                        padding: 10px 20px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 10px;
                        width: 25%;

                        span {
                            font-size: .9rem;
                            line-height: 1.7;
                            color: gray;
                            font-weight: 300;
                        }
                    }
                }

                &:hover {
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                }
            }
        }
    }
}