.courses {
    width: 100%;
    background-color: #7971ea;

    h1 {
        padding: 50px;
        text-align: center;
        font-size: 3rem;
        color: white;
        margin-bottom: 1.8rem;
        font-weight: 900;
    }

    // .wrapper {
    //     width: 100%;
    //     .cards {
    //         display: flex;
    //         gap: 30px;
    //         justify-content: space-around;
    //         .card{
    //             width: 30%;
    //             img{
    //                 width: 80%;
    //             }
    //         }
    //     }
    // }

}